In [ ]:
a = input()

10 20 30 40 50

In [ ]:
b = a.split()
b

['10', '20', '30', '40', '50']

In [ ]:
type(a[0])

str

In [ ]:
# Say, we need to take all the inputs together at a time (like the way we have taken in the first code block) and 
# convert them into integer (since by default they are in string type). Also, we may wish to store them in data
# structures like an array.
# the easiest way we can do all these together is by using map() function in python.

In [ ]:
# map() --> the first parameter dictates the data type we want to map in.
#       --> the second parameter given in the iterator we want to iterate in.

In [ ]:
c = list(map(int,b))
c

[10, 20, 30, 40, 50]

In [ ]:
type(c[0])

int

In [ ]:
# Now, we instead of integer we want to take float values. So, in the first parameter of map function we will pass 
# data type as float.
d = list(map(float, b))
d

[10.0, 20.0, 30.0, 40.0, 50.0]

In [ ]:
# Now, instead of list we want to store it in a tuple.
e = tuple(map(float, b))
e

(10.0, 20.0, 30.0, 40.0, 50.0)

In [ ]:
# What about set? Yes, we can also do that.
f = set(map(float, b))
f

{10.0, 20.0, 30.0, 40.0, 50.0}

In [ ]:
# Furthermore, at times we may require to store all these elements under different variables.
g,h,i,j,k = list(map(int, b))
print("G:",g)
print("H:", h)
print("I:", i)
print("J:", j)
print("K:", k)

G: 10
H: 20
I: 30
J: 40
K: 50